.Records {
	width: 100%;
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main{
	width: 1350 px;
	height: 45vh;
	background-color: #E6E6E6;
	margin: 0 2.5vw 50px;
	border-radius: 1em;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	position: relative;
}

.main h2{
	position: absolute;
	margin-top: 20px;
	margin-left: 40px;
	text-decoration: none;
	
}
.main p{
	position: absolute;
	right: 2em;
	bottom: 0;
}

table {
	
	width: 1300px;
	height: 250px;
	background-color: #E6E6E6;
	margin-bottom: 250px;

}

th {
	border-bottom: 1px solid black;
}

td {
	text-align: center;
}
