body {
  font-family: "Poly", serif;
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background: #fff;
}
.box {
  background-color: #d9d9d9;
  border-radius: 8px;
  margin: 30px 2.5vw;
  height: 170px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h1 {
  color: #921212;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: normal;
}
.elements {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.input-group1,
.input-group2 {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.input-group1 {
  margin-left: 20px;
}

label {
  color: #000000;
  margin-right: 10px;
}

input,
select {
  border: 1px solid #000000;
  border-radius: 4px;
  height: 30px;
  background: #fff;
  color: #000000;
  width: 200px;
}

.create-button {
  padding: 10px 40px;
  align-self: flex-end;
  margin-right: 40px;
}
